@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #E7F5FF;
}
h1{
    font-size: 3rem;
    font-weight: 700;
}
h2{
    font-size: 1.5rem;
    color: #343A40
}
h3{
    font-size: 1rem;
    font-weight: 700;
    color: #343A40
}
p{
    font-size: 1.2rem;
    color: #343A40
}

* {
    box-sizing: border-box;
  }